:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --bg-color: #f5f4fa;
  --bg-portfo: #ffffff;
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --card-border-color: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--text-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--bg-portfo);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: yellow; */
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.flex-element {
  flex-basis: calc((100% - 30px * 9) / 9);
  margin-left: 30px;
  margin-top: 30px;
}

.flex-element-studio {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.flex-element-studio-item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.flex-element .flex-card {
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

.team-card {
  background-color: var(--bg-portfo);
  border-color: 2px solid var(--card-border-color);
  border-right: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
  padding: 30px;
}

.flexbox .item {
  width: 270px;
}

.wrap-list {
  flex-basis: 50%;
}

.web-studio {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 1px var(--card-border-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header .current {
  color: var(--accent-color);
}

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.main-nav {
  display: inline-flex;
  align-items: center;
}

.main-item:not(:last-child) {
  margin-right: 50px;
}

.item {
  display: block;
}

.padding-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.blue {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hide-title {
  margin: 0;
  padding: 0;
  display: none;
}

.list-text {
  font-weight: 500;
}

.title-label {
  padding-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.text-align {
  text-align: center;
}

.button {
  display: flex;
  border: 1px solid transparent;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;

  color: var(--bg-portfo);
  cursor: pointer;
  background-color: var(--accent-color);
}

.button-first {
  display: inline-block;
}

.button-portfolio {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bg-color);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-margin:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  display: flex;
  align-items: center;
}

.section-studio {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-pad-top {
  padding-top: 94px;
  padding-bottom: 0;
}

.section-padding-top-bott {
  padding-top: 94px;
  padding-bottom: 94px;
}
.sec-title {
  max-width: 600px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.title-projects-portfolio {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.project-placement {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 0;
}

.team-card .title-team {
  margin-bottom: 10px;
}

.name {
  color: var(--title-color);
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.bg-color-section {
  background-color: var(--bg-color);
}

.dark-bg .page-title {
  color: var(--dark-bg-text-color);
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  color: var(--dark-bg-text-color);
}

.contacts-color {
  color: var(--contacts-color);
}

.padding-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  display: block;
}

.margin-footer {
  margin-bottom: 9px;
}

.margin-footer:last-child {
  margin-bottom: 0;
}

.footer-web-studio {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

address {
  margin-top: 20px;
}

.list-item:last-child {
  margin-bottom: 0;
}
